-var menuItem = ["item 1", 'item 2', "item 3"]

mixin menu(className, classActive)
    ul(class=className + "__list")
        for item in menuItem
            if item === "item 1"
                li(class=className + "__item " + classActive)
                    a(href="#")= item
            else
                li(class=className + "__item")
                    a(href="#")= item

mixin icon(idIcon, classIcon='svg-icon')
    svg(class=classIcon)
        use(xlink:href="img/svg-sprite/symbol/sprite.svg#" + idIcon)